@font-face {
  font-family: JetBrains;
  src: url(../fonts/jetbrains/web/woff2/JetBrainsMono-Regular.woff2);
}
html {
  background-color: #181a1b;
  color: #EFF1F3;
} body {
  position: absolute;
  height: 100%;
  width: 100%;
} a {
  text-decoration: none;
  color:inherit;
}
.container {
  position: relative;
  width: 25%;
  left: 8%;
  height: 25%;
  top: 8%;
  background: #2f3031;
}
.text {
  position: absolute;
  left: 50%;
  font-size: x-large;
  font-family: JetBrains;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: max-content;
}
.title {
  top: 5%;
}
.time {
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.days {
  bottom: 5%;
}
