@font-face {
  font-family: JetBrains;
  src: url(../fonts/jetbrains/web/woff2/JetBrainsMono-Regular.woff2);
}
html {
  background-color: #181a1b;
  color: #EFF1F3;
} body {
  position: absolute;
  height: 100%;
  width: 100%;
} a {
  text-decoration: none;
  color: #094D92;
}
#1 {
  top: 6.25%;
  left: 6.25%;
}
#2 {
  top: 6.25%;
  left: 37.5%;
}
#3 {
  top: 6.25%;
  left: 68.75%;
}
.container {
  position: relative;
  width: 25%;
  
  height: 25%;
  
  background: #2f3031;
}
.text {
  position: absolute;
  left: 50%;
  font-size: x-large;
  font-family: JetBrains;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: max-content;
}
.title {
  top: 5%;
  color: #68B684;
}
.time {
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.days {
  bottom: 5%;
}
