@font-face {
  font-family: JetBrains;
  src: url(fonts/jetbrains/web/woff2/JetBrainsMono-Regular.woff2);
}


#pEntries {
  font-family: JetBrains;
  font-size: 2vw;
}


#dateTime {
  font-family: JetBrains;

} #dateTimeDate {
  font-size: 8vw;
} #dateTimeTime {
  font-size: 6vw;
}


#todo {
  font-family: JetBrains;
} #todoTitle {
  font-size: 4vw;
} #todoBoxes {

} #todoText {
  font-size: 2vw;
}


#log {
  font-family: JetBrains;
} #logTitle {
  font-size: 4vw;
} #logtext {
  font-size: 2vw;
}
